<div class="page-wrapper">
  <!-- Background decorations -->
  <div class="bg-decoration bg-decoration-1"></div>
  <div class="bg-decoration bg-decoration-2"></div>
  <div class="bg-decoration bg-decoration-3"></div>

  <!-- Page container -->
  <div class="forgotPassword-container">
    <div class="forgotPassword-card">
      <!-- HEADER -->
      <div class="forgotPassword-header ">
        <div class="flex items-center justify-center mb-8">
          <div class="logo-icon ">
            <i class="fas fa-key"></i>
          </div>
        </div>

        <h2 class="forgotPassword-title pb-6">Reset Password</h2>

        <p class="forgotPassword-subtitle" *ngIf="step === 1">
          Enter your email address and we'll send you a reset code
        </p>

        <p class="forgotPassword-subtitle" *ngIf="step === 2">
          Enter the verification code sent to your email
        </p>

        <p class="forgotPassword-subtitle" *ngIf="step === 3 || step === 4">
          Create a new secure password for your account
        </p>
      </div>

      <!-- BODY -->
      <div class="forgotPassword-body">
        <!-- STEP INDICATORS -->
        <div class="flex justify-center gap-3  p-8">
          <div class="h-1 w-10 rounded transition-all duration-300"
            [ngClass]="step >= 1 ? 'bg-[#39A372]' : 'bg-gray-300'"></div>

          <div class="h-1 w-10 rounded transition-all duration-300"
            [ngClass]="step >= 2 ? 'bg-[#39A372]' : 'bg-gray-300'"></div>

          <div class="h-1 w-10 rounded transition-all duration-300"
            [ngClass]="step >= 3 ? 'bg-[#39A372]' : 'bg-gray-300'"></div>
        </div>

        <!-- STEP 1: EMAIL -->
        <form *ngIf="step === 1" (ngSubmit)="sendCode()" #emailForm="ngForm">
          <div class="form-group">
            <label>Email Address</label>

            <div class="input-wrapper">
              <input type="email" name="email" required email [(ngModel)]="email"
                placeholder="your.email@company.com" />
              <i class="fas fa-envelope input-icon"></i>
            </div>
          </div>

          <div class="p-4 border-l-4 border-[#39A372] bg-light-green rounded-lg mb-6">
            <i class="fas fa-info-circle"></i>
            <span class="ml-1">We'll send a 6-digit verification code to your email address
            </span>
          </div>

          <button class="btn-forgotPassword bg-[#39A372]" type="submit" [disabled]="emailForm.invalid">
            Send Reset Code
            <i class="fas fa-arrow-right"></i>
          </button>

          <a href="/login" class="back-to-login inline-flex items-center mt-4 text-green-700">
            <i class="fas fa-arrow-left mr-2"></i>
            Back to Login
          </a>
        </form>

        <!-- STEP 2: CODE -->
        <form *ngIf="step === 2" (ngSubmit)="verifyCode()" #codeForm="ngForm" class=" pb-4">
          <div class="form-group">
            <label>Verification Code</label>

            <div class="input-wrapper">
              <input type="text" maxlength="6" name="code" required [(ngModel)]="code"
                placeholder="Enter 6-digit code" />
              <i class="fas fa-shield-alt input-icon"></i>
            </div>
          </div>

          <div class="p-4 border-l-4 border-[#39A372] bg-light-green rounded-lg mb-6">
            <i class="fas fa-info-circle mr-2"></i>
            Check your email for the verification code. It expires in 10 minutes.
          </div>

          <div class="flex gap-3">
            <button type="button"
              class="w-28 p-3 text-[16px] font-semibold border border-gray-300 rounded-lg flex gap-3 text-cenetr justify-center"
              (click)="step = 1">
              <i class="fas fa-arrow-left py-1"></i>
              Back
            </button>

            <button type="submit" class="btn-forgotPassword flex-1 bg-[#39A372] gap-2" [disabled]="codeForm.invalid">
              Verify Code
              <i class="fas fa-arrow-right"></i>
            </button>
          </div>
        </form>

        <!-- STEP 3: NEW PASSWORD -->
        <form *ngIf="step === 3" (ngSubmit)="resetPassword()" #passwordForm="ngForm">
          <div class="form-group">
            <label>New Password</label>

            <div class="input-wrapper">
              <input [type]="showPassword ? 'text' : 'password'" name="newPassword" required [(ngModel)]="password"
                placeholder="Create new password" />
              <i class="fas fa-lock input-icon"></i>

              <button type="button" class="password-toggle" (click)="showPassword = !showPassword">
                <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
              </button>
            </div>
          </div>

          <div class="form-group">
            <label>Confirm Password</label>

            <div class="input-wrapper">
              <input [type]="showConfirmPassword ? 'text' : 'password'" name="confirmPassword" required
                [(ngModel)]="confirmPassword" placeholder="Confirm new password" />
              <i class="fas fa-lock input-icon"></i>

              <button type="button" class="password-toggle" (click)="showConfirmPassword = !showConfirmPassword">
                <i class="fas" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
              </button>
            </div>
          </div>

          <div class="bg-green-50 p-4 rounded-xl space-y-2">
            <div class="text-[14px] font-base">Password must contain:</div>

            <div class="text-[13px] font-sm flex items-center gap-2"><i
                class="fas fa-circle text-[10px] text-gray-400"></i> At least 8 characters</div>
            <div class="text-[13px] font-sm flex items-center gap-2"><i
                class="fas fa-circle text-[10px] text-gray-400"></i> One uppercase letter</div>
            <div class="text-[13px] font-sm flex items-center gap-2"><i
                class="fas fa-circle text-[10px] text-gray-400"></i> One number</div>
            <div class="text-[13px] font-sm flex items-center gap-2"><i
                class="fas fa-circle text-[10px] text-gray-400"></i> One special character</div>
          </div>

          <button type="submit" class="btn-forgotPassword bg-[#39A372]" [disabled]="passwordForm.invalid">
            Reset Password
            <i class="fas fa-check"></i>
          </button>
        </form>

        <!-- step 4 -->
        <div *ngIf="step === 4" class="text-center space-y-6">
          <div class="flex justify-center my-6">
            <div class="w-20 h-20 bg-[#39A372] rounded-full flex items-center justify-center text-white text-4xl">
              <i class="fas fa-check"></i>
            </div>
          </div>

          <h2 class="text-2xl font-semibold text-green-800 ">Password Reset Successful!</h2>

          <p class="text-gray-400 text-[15px] px-2">
            Your password has been changed. You can now sign in with your new password.
          </p>

          <a href="/login"
            class="btn-forgotPassword inline-flex items-center justify-center gap-2 underline bg-[#39A372]">
            <i class="fas fa-sign-in-alt"></i>
            Go to Login
          </a>
        </div>
      </div>
    </div>
  </div>
</div>